*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    /* margin: 0px; */
    background-color: #3972345e;

}
/* -------------------login---------------------------- */
.LOGIN{
    font-family: webkit-pictograph;
   
}
.login{
    margin: 100px auto;
    width: 410px;
    height: 467px;
    border-radius: 15px;
    background-color: #3d4b6d5e;
    display: flex;
    flex-direction: column;
    padding: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    background-image: url('https://cdn.pixabay.com/photo/2017/01/24/03/53/plant-2004483_960_720.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginInput{
    border: 0;
    line-height: 30px;
    padding: 5px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
    border-radius: 36px;
    margin: 5px;

}
.loginbox{
    margin-top: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Login {
    cursor: pointer;
    border: 0;
    line-height: 30px;
    padding: 5px 15px;
    border-bottom: 1px solid #4e5767c9;
    width: 118%;
    font-size: 12px;
    border-radius: 36px;
    margin: 5px;
    background-color: #c0cde4;
    font-size: 15px;
    font-family: -webkit-pictograph;
}
.stayConnect{
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.connect{
    font-size: 18px;
    font-family: system-ui;
}
.theSubmit{
    margin-top: 107px;
    font-size: 15px;
    font-family: -webkit-pictograph;
}
.signUp{
    width: 197px;
}
.theSubmit{
    border: 0;
    line-height: 30px;
    padding: -10px 27px;
    border-bottom: 1px solid #4e5767c9;
    width: 66%;
    /* font-size: 12px; */
    border-radius: 36px;
    /* margin: 5px; */
    background-color: #c0cde4;
    cursor: pointer;
}

/* ---------------------------header----------------------------------- */

.header{
    display: flex;
    flex-direction: row;
    margin:26px
}
.logo{
    height: 107px;
}
.flex{
    display: flex;
}
.contact {
    display: flex;
    margin-top: 23px;
}
.look {
    margin-top: 13px;
    font-family: -webkit-pictograph;
    margin-right: 10px;
}
.icon{
    margin :5px
}
.hey{
    margin: 10px;
    width: 70px;
    height: 69px;
    font-family: -webkit-pictograph;
}

.butLogout{
   
    margin: 1px;
    border: 0;
    line-height: 28px;
    padding: -10px 27px;
    /* border-bottom: 1px solid #4e5767c9; */
    width: 93%;
    /* font-size: 12px; */
    border-radius: 6px;
    /* margin: 5px; */
    background-color: #13a53542;
    cursor: pointer;
    margin-left: -2px;
    margin-top: 10px;

    
}
.navigation{
    display: flex;
    align-items: center;
    margin:auto
}
.manu {
    cursor: pointer;
    margin: 10px;
    /* border-bottom: 1px solid #4e5767c9; */
    font-family: fantasy;
    font-size: 31px;
}
a{
    color: black;
    cursor: pointer;
    text-decoration: none;
    
}
/* -----------------------------------------home---------------------------- */

.backroundPicture{
    background-image: url(https://cdn.pixabay.com/photo/2017/01/24/03/53/plant-2004483_960_720.jpg);
    padding: 20px;
    border: solid 1px;
    border-radius: 10px;
    margin-top: 20px;
    /* width: 1438px; */
    height: -moz-fit-content;
    height: fit-content;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    font-family: -webkit-pictograph;
    font-size: 21px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.deleteTest{
    cursor: pointer;
}
.title_middle{
    text-align: center;
    margin-bottom: 20px;
}
.testIneed{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 42px;
}
.myTestButton{
    margin: 15px;
}

.newTest{
    margin: 10px;
    border: 0;
    line-height: 30px;
    padding: -10px 27px;
    /* border-bottom: 1px solid #4e5767c9; */
    width: 11%;
    /* font-size: 12px; */
    border-radius: 36px;
    /* margin: 5px; */
    background-color: #13a53542;
    cursor: pointer;
}




/* ---------------------------create test--------------------- */
.makeTest {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    align-items: center;
}
.testInput{
    border: 0;
    line-height: 30px;
    padding: 5px 15px;
    border-bottom: 1px solid #eee;
    width: 19%;
    font-size: 12px;
    border-radius: 36px;
    margin: 5px;
}
.mailing {
   
    margin-top: 49px;
    margin-left: 162px;
  
}

/* -----------------questions---------------------- */
.questionInput{
    border: 0;
    line-height: 30px;
    padding: 5px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
    border-radius: 36px;
    margin: 5px;
}
.addQues{
    margin-left: 180px;
    border: 0;
    line-height: 30px;
    padding: -10px 27px;
    /* border-bottom: 1px solid #4e5767c9; */
    width: 11%;
    /* font-size: 12px; */
    border-radius: 36px;
    /* margin: 5px; */
    background-color: #13a53542;
    cursor: pointer;
    margin-top: 47px;
    margin-bottom: 20px;
}
.new_question {
    width: 270px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 30px;
    padding: 30px;
    margin: 5px;
}
@media screen and (min-width:768px){
.all_ques{
    display: flex;
    width: auto;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 166px;
}
}
/* ------------------answers---------------------------- */
.answerInput{
    border: 0;
    line-height: 30px;
    padding: 5px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
    border-radius: 36px;
    margin: 5px;
}
.addRemove{
    display: flex;
    flex-direction: column;
}
.addRemoveButtun{
    margin: 10px;
    border: 0;
    line-height: 30px;
    padding: -10px 27px;
    /* border-bottom: 1px solid #4e5767c9; */
    width: 85%;
    /* font-size: 12px; */
    border-radius: 36px;
    /* margin: 5px; */
    background-color: #13a53542;
    cursor: pointer;
}

/* --------------------done test --------------------------- */
.doneTest{
  
    text-align: center;
}
.title{
    font-family: monospace;
}
.titles{
    margin:15px;
    font-family: monospace;
    font-size: 15px;
}

.question{
    border: solid 1px black;
    border-radius: 15px;
    margin: auto;
    width: 30%;
    margin-bottom: 30px;
}
.answers{
    display: flex;
    flex-direction: column;
    font-family: monospace;
}
.answer{
    margin:13px

}
.err{
    color: red;
}
.notErr{
    color: green;
}
 /* ------------------------mobile---------------------------- */

 @media screen and (max-width:768px) {
    .navigation {
        margin-top: 5px;
        margin-left: 42px;
        margin-right: 32px;
        display: flex;
        flex-direction: column;
    }
    .manu {
        cursor: pointer;
        font-family: fantasy;
        font-size: 18px;
    }
    .contact {
        display: flex;
        margin-top: 23px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .look {
        margin-top: -12px;
        font-family: -webkit-pictograph;
        margin-right: 10px;
        font-size: 20px;
    }
     .login{
         width: 85%;
     }
     .butLogout {
        margin: 1px;
        border: 0;
        line-height: 28px;
        padding: -10px 27px;
        /* border-bottom: 1px solid #4e5767c9; */
        width: 156%;
        /* font-size: 12px; */
        border-radius: 6px;
        /* margin: 5px; */
        background-color: #13a53542;
        cursor: pointer;
        margin-left: -2px;
        margin-top: 10px;
    }
    .hey {
        margin: 13px;
        width: 34px;
        height: 69px;
    }
    .backroundPicture{
        width: 135%;
        margin-left: 15px
    }
    
    .question{
        width: 85%;
    }
    .newTest{
        width: 80%;
    }
    .testInput{
        width: 85%;
    }
    .addQues{
        margin: 20px 70px;
        width: 37%
    }
    .aligen{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    .mailing {
        margin: 50px 82px;
    }
 }